@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#join fieldset {
    border: none;
    border-bottom: 2px solid #eee;
    margin-bottom: 40px;
}

#join fieldset legend {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.xBtn {
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 19px;
    vertical-align: top;
    border: none;
    border-radius: 20px;
    background-color: #ddd;
    display: inline-block;
    position: absolute;
    right: 100px;
    bottom: 6px;
    cursor: pointer;
    display: none;
}    
#join select {
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    border-right: 1px solid #aaa;
}
.errorMessage {
    color: #e71414;
    font-size: 12px;
    margin-bottom: 15px;
    position: relative;
    top: -10px;
    left: 3px;
    display: none;
}

/* 공통영역 시작 */

div#wrap {
    width: 100%;
    margin: 10px auto;
}


/* 공통영역 끝 */

h1 {
    font-size: 1.5em;
    text-align: center;
    margin: 40px 0 20px;
}

#join {
    width: 470px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
}

#join h2 {
    font-weight: normal;
    margin-bottom: 60px;
}

#join .input {
    width: 430px;
    margin-bottom: 20px;
    position: relative;
}

#join .input input {
    width: 260px;
    padding: 10px 6px;
    border: none;
    outline: none;
    cursor: pointer;
}

#join .input input::placeholder {
    color: #bbb;
    font-size: 14px;
    font-weight: bold;
}

#join #email #mail {
    color: #666666;
    font-weight: bold;
    text-align: right;
    margin-left: 70px;
}

#join ul {
    margin-bottom: 60px;
}

#join .info {
    color: #888;
    font-size: 11px;
    font-weight: bold;
    list-style: inside;
}

#join .marginBottom {
    margin-bottom: 50px;
}

#join #nickname #CntnumOfWord {
    color: #aaaaaa;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin-left: 120px;
}

/* 전화번호 셀렉트박스 화살표 커스텀 시작 */
#join select#phoneNum {

    width: 116px;
    padding: 6px 0;
    
    -webkit-appearance: none;
    
    background-image: url(../images/arrowDown.png);
    background-repeat: no-repeat;
    background-size: 14px 10px;
    background-position: 94px center;
}
/* 전화번호 셀렉트박스 화살표 커스텀 끝 */


#join #button {
    text-align: left;
    margin: 35px 0 25px;
}

#join #button button {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 30px;
    border: 1px solid #aaa;
    border-radius: 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

#join #birth {
    padding: 5px 0;
    margin-bottom: 15px;
}
/* 생일 셀렉트박스 화살표 커스텀 시작 */
#join #birth select {
    width: 80px;
    padding: 6px 0;
    border-right: none;
    
    -webkit-appearance: none;
    
    background-image: url(../images/arrowDown.png);
    background-repeat: no-repeat;
    background-size: 14px 10px;
    background-position: 60px center;
}
/* 생일 셀렉트박스 화살표 커스텀 끝 */

/* 체크박스 커스텀 시작 */
/* label container */

.chkboxContainer {
    display: inline-block;
    position: relative;
    padding-left: 26px;
    margin-left: 110px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 원래 체크박스 사라지게하기 */

.chkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}

/* 커스텀 체크박스 구현 */

.chkboxCheckmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    color: #cccccc;
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid #ddd;
    
}

/* 체크 되었을때 배경색 */

.chkboxContainer input:checked~.chkboxCheckmark {
    border: 2px solid rgb(255, 201, 25);
    background-color: rgb(255, 201, 25);
}

/* Create the checkmark/indicator (hidden when not checked) */

.chkboxCheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.chkboxContainer input:checked~.chkboxCheckmark:after {
    display: block;
}

.chkboxContainer .chkboxCheckmark:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* 체크박스 커스텀 끝 */

#join #gender {
    border: none;
    margin-bottom: 60px;
}

#join #gender label {
    margin-right: 30px;
}

#join #gender label input {
    margin-right: 5px;
}

/* 라디오박스 커스텀 시작 */

/* The container */
.radioContainer {
    display: inline-block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .radioboxCheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radioContainer:hover input ~ .radioboxCheckmark {
    background-color: #fff;
  }
  
  /* When the radio button is checked, add a blue background */
  .radioContainer input:checked ~ .radioboxCheckmark {
    border: 2px solid rgb(255, 201, 25);;
    background-color: #fff;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radioboxCheckmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radioContainer input:checked ~ .radioboxCheckmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radioContainer .radioboxCheckmark:after {
       top: 4px;
      left: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: rgb(255, 201, 25);
  }

/* 라디오박스 커스텀 끝 */

#join #next {
    text-align: center;
    margin-bottom: 120px;
}

#join #next button {
    width: 430px;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    border: none;
}

#footer {
    text-align: center;
    font-size: 12px;
}

#footer #corpInfo ul {
    list-style: none;
}

#footer #corpInfo ul li {
    padding: 5px;
    display: inline-block;
}

#footer #corpInfo ul li:nth-child(2) {
    font-weight: bold;
}

#footer #copyright {
    margin: 6px 0 20px;
}

#footer #copyright span {
    font-weight: bold;
}
